<div id="sign-in">
  <div class="overlay">
    <h2>Forgot your password?</h2>
    <div class="form">
      <%= form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :post }) do |f| %>
        <div class="form-group">
          <%= devise_error_messages! %>
        </div>
        <div class="form-group">
          <%= f.label :email %><br />
          <%= f.email_field :email, autofocus: true, class: 'form-control', required: true %>
        </div>

        <div class="button-submit">
          <%= f.submit 'reset password', class: 'btn' %>
        </div>
      <% end %>
    </div>
    <div class="link">
      <%= render "devise/shared/links" %>
    </div>
  </div>
</div>

<%= render partial: './common/background' %>